@font-face {
  font-family: 'Pixelify Sans';
  src: url('/src/fonts/PIXY.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Pixelify Sans';
  src: url('/src/fonts/PIXY.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

* {
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  text-rendering: geometricPrecision;
  font-smooth: never;
} 